{% extends "layout/_base.html" %}
{% block main %}
{% block page %}{% endblock %}
<section class="blog_area single-post-area section-padding">
	<div class="container">
		<!-- card start -->
		<div class="row pb-5">
			{% for post in posts %}
			<article class="col-lg-4 col-md-6 col-12 mb-4">
				<div class="card h-100">
					<div class="blog_item_img">
						<img class="card-img rounded-0" width="200px" height="200px" src="{{post.post_detail.image}}" alt="">
						<a href="javascript:void(0)" class="blog_item_date">
							<h3>{{ post.page_generated.strftime('%d') }}</h3>
							<p>{{ post.page_generated.strftime('%b') }}</p>
						</a>
					</div>

					<div class="card-body pt-5">
						<a class="d-inline-block" href="{{ post.page_url or '/' }}">
							<h2 class="card-title">{{post.post_detail.title}}</h2>
						</a>
						<p class="card-text">{{post.post_detail.excerpt}}</p>
					</div>
					<div class="card-footer bg-transparent">
						<ul class="blog-info-link">
							<li><a href="javascript:void(0)"><i class="fa fa-user"></i> {{post.post_detail.categories|join(', ')}}</a></li>
							<li><a href="javascript:void(0)"><i class="fa fa-comments"></i> Comments</a></li>
						</ul>
					</div>
				</div>
			</article>
			{% endfor %}
		</div>
		<!-- card end -->
		<div class="row">
			<div class="col-lg-12 mb-5 mb-lg-0">
				<div class="blog_left_sidebar">
					<!-- Place <div> tag where you want the feed to appear -->
					<div id="curator-feed-default-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
					<!-- The Javascript can be moved to the end of the html page before the </body> tag -->
					<script type="text/javascript">
					/* curator-feed-default-layout */
					(function(){
					var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
					i.src = "https://cdn.curator.io/published/c7de9366-fae8-4ded-be2f-49099d452fe5.js";
					e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
					})();
					</script>
				</div>
			</div>
		</div>
	</div>
</section>	
{% include "layout/_quick_demo.html" %}
{% include "layout/_reach_us.html" %}
{% endblock %}