---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Contact - Cognicue"
  description="Converting Emotions into Insights"
  image="https://www.cognicue.in/assets/img/hero/differentfacess.jpg"
  type="home"
>
  <Navigation />
  <main class=""></main>
  <Footer />
</Layout>
