<div
  class="items-center text-center h-full"
  id="loading-container"
  style="display:none;"
>
  <div class="loading-state" id="loading-info">
    <div class="overflow"></div>
    <div class="skChase">
      <div class="skChaseDot"></div>
      <div class="skChaseDot"></div>
      <div class="skChaseDot"></div>
      <div class="skChaseDot"></div>
      <div class="skChaseDot"></div>
      <div class="skChaseDot"></div>
    </div>
    <span id="loading-text" class="text-white font-semibold absolute inset-0 m-auto w-full h-max z-[99] translate-y-12"
      >This demo requires the access to your webcam, please make sure it is
      enabled.</span
    >
  </div>
</div>
