<!DOCTYPE html>
<html>
  <head>
    <title>{{page_title}} | {{site_title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{site_favicon}}">

    <!-- Stylesheets -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-ae362vOLHy2F1EfJtpMbNW0i9pNM1TP2l5O4VGYYiLJKsaejqVWibbP6BSf0UU5i" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

    <link href="/assets/demo/facs/css/index-dark.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/facs/css/common.css" rel="stylesheet" type="text/css" />
    <!-- fontawesome glyphs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Handshaking backend frontend -->
    <script type="text/javascript">
      const present_conf = {{demo_screen|tojson|safe}}
          , messages = {{alert_messages|tojson|safe}}
          , defaults = {{default_metrics|tojson|safe}}
          , metric = {{demo_metrics|tojson|safe}}
          , media = {{demo_videos|tojson|safe}}
          ;
    </script>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <!-- D3 - Data Driven Documents -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="/assets/demo/facs/js/application.js"></script>
    <script defer src="/assets/demo/facs/js/cogni.js"></script>
  	<script defer src="/assets/demo/facs/js/graph.js"></script>
  	<script defer src="/assets/demo/facs/js/player.js"></script>
  	<script defer src="/assets/demo/facs/js/summarizer.js"></script>
  	<script defer src="/assets/demo/facs/js/modal-alert.js"></script>
  	<script defer src="/assets/demo/facs/js/summary.js"></script>
  	<script defer src="/assets/demo/facs/js/demo.js"></script>


{% include "layout/_head_last.html" %}
</head>
<body>
{% include "layout/_body_first.html" %}

<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="{{site_favicon}}" alt="{{site_title}}">
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-light bg-highlight">
  <div class="container">
    <div class="row w-100">
      <div class="col-lg-3 col-sm-4">
        <a class="brand-logo-adj navbar-brand align-middle" href="/">
          <img class="brand-logo" src="{{site_logo}}" alt="{{site_title}}" />
        </a>
      </div>
      <div class="col-lg-9 col-sm-8 mt-2">
        <h1 class="navbar-text boldtext ">{{page_title}}</h1>
      </div>
    </div>
  </div>
</nav>
    

<div id="text-width"></div>
<div id="facevideo-node"></div>

<div class="container">
  <!-- Modal -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-box"></div>
      </div>
    </div>
  </div>
</div>


  <div id="consent-container" style="display:flex;">
    <div class="container d-flex full-height align-items-center">
      <div class="row d-flex justify-content-center">
        <div class="col col-md-6">
          <div class="card">
            <h5 class="card-header">Privacy Notice</h5>
            <div class="card-body">
              <p class="card-text">{{privacy_note.para1}}</p>
              <p class="card=text">{{privacy_note.para2}}</p>
              <p>{{privacy_note.para3}}</p>
              <br>
              <a href="/" class="btnC btn btn-info" id="gtm-cancel">Cancel</a>
              <a class="btnC btn btn-info float-right" id="demo-consent">I Accept</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center text-center full-height" id="loading-container" style="display:none;">
    <div class="col loading-state" id="loading-info">
      <div class="loader"></div>
      <br>
      <span id="loading-text">{{loading_text}}</span>
    </div>
  </div>


  <div class="row" id="demo-container" style="display: none;">


    <div class="col-md-3 mt-4 text-center d-none d-sm-block">
      <!-- Stable Menu -->

      <div class="card rounded bg-transparent" style="border: 1px solid white;">
        <div class="card-header small">{{left_card1.header}}</div>
        <div class="card-body bg-transparent pt-1 pb-2">
          <p class="small">{{left_card1.body}}</p>
          <select id="emotion-buttons" name="states[]" multiple="multiple"></select>
        </div>
      </div>
      
      <div class="card rounded bg-transparent mt-2" style="border: 1px solid white;">
        <div class="card-body bg-transparent pt-1 pb-2">
          <div style="height: 10px; width: 10px; background-color: #6ef784; display: inline-block; float: left; margin-right: 7px; margin-top: 7px; margin-bottom: 20px;"></div> 
          <div><small>{{left_card2.para1}}</small></div>
          <div style="clear: both; margin-bottom: 5px;"></div>
          <div style="height: 10px; width: 10px; background-color: #404040; display: inline-block; float: left; margin-right: 7px; margin-top: 7px; margin-bottom: 20px;"></div>
          <div><small>{{left_card2.para2}}</small></div>
        </div>
      </div>
        
    </div>    

    <div class="col-md-6 col-xs-12">

      <br>
      <!-- Video -->
      <div class="row my-0">
        <div class="col text-center" >
          <div id="video-wrapper" >
            <video poster="" id="media-stimulus" class="my-1 img-fluid" data="" oncontextmenu="return false;"></video>
			      <video poster="" id="media-object" class="my-1 img-fluid" style="display: none;" data="" oncontextmenu="return false;"></video>
          </div>
        </div>
      </div>

      <div class="row" id="svg-container">
        <!-- Graph -->
        <div id="svg-wrapper" class="col my-0 text-center" style>
          <svg id="svg-curve"></svg>
        </div>
      </div>

    </div>

    <div class="col-md-3 mt-4 text-center d-none d-sm-block">
      <!-- Transition Menu -->

      <div id="showSubject" class="card rounded bg-transparent" style="display: none;border: 1px solid white;">
        <div class="card-header small">{{right_card1.header}}</div>
        <div class="card-body bg-transparent pt-1 pb-2" id="checkMediaRecorder">
          <video poster="" id="media-subject" class="my-1 img-fluid" style="display: none;" data="" oncontextmenu="return false;"></video>
        </div>
      </div>      
      
      <div id="showControl" class="card rounded bg-transparent mt-2" style="display:none;border: 1px solid white;">
        <div class="card-header small">{{right_card2.header}}</div>
        <div class="card-body bg-transparent pt-1 pb-2">
          <p class="small">{{right_card2.para1}}</p>
            <div class="text-center mt-2">
              <button id="stopFACS" class="btnC btn btn-info btn-sm">Stop</button>
            </div>          
        </div>
      </div>

      <div id="showSummary" class="card bg-transparent mt-2" style="display:none;border: 1px solid white;">
        <div class="card-body pt-2">
          <p class="small">{{right_card3.para1}}</p>
          <div><hr class="bg-white"/></div>
          <p class="small mb-2">{{right_card3.para2}}</p>
          <div class="text-center">
            <button id="summaryButton" class="btnC btn btn-success btn-sm">Summary</button>
          </div>
          <div><hr class="bg-white"/></div>
          <p class="small mb-2">{{right_card3.para3}}</p>
          <div class="text-center">
            <a id="choose_another" class="btnC btn btn-info btn-sm" href=".">New Video</a>
          </div>
        </div>
      </div>
        
    </div>

  </div>

  <div style="display:none;" id="summary-container">
    <div class="container">
      <div class="row">
        <div class="col col-lg-8 offset-lg-2">
          <br>
          <div class="card">

            <div class="card-body">
              <div class="tab-content" id="summaryTabContent">
                <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr class="summary-heading">
                      <th scope="col" colspan="2" class="boldtext">Summary</th>
                      <!--<th class="text-right" scope="col">Ad Average</th>-->
                    </tr>
                  </thead>                                                      
                  <thead>
                    <tr class="summary-metric">
                      <th scope="col">Metric</th>
                      <th scope="col" class="text-right">Point</th>
                      <!--<th class="text-right" scope="col">Ad Average</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    {% for metric in demo_metrics|summary_metric %}
                      <tr class="col-8 {% if metric.type == 'Expressions' %}summary-expression{% else %}summary-emotion{% endif %}">
                        <td scope="col" class="col-4">{{metric.mr_name}}</td>
                        <td scope="col" class="text-right col-4" id="userMean{{metric.sdk_name}}">-</td>
                        <!--<td class="text-right">5.3</td>-->
                      </tr>                    
                    {% endfor %}
                    </tr>
                  </tbody>
                  <thead>
                    <tr class="summary-video">
                      <th scope="col">Video Length</th>
                      <th scope="col" class="text-right" id="summaryObject"></th>
                      <!--<th class="text-right" scope="col">Ad Average</th>-->
                    </tr>
                  </thead>
                  <thead>
                    <tr class="summary-video">
                      <th scope="col">Viewed Time</th>
                      <th scope="col" class="text-right" id="summarySubject"></th>
                      <!--<th class="text-right" scope="col">Ad Average</th>-->
                    </tr>
                  </thead>                  
                </table>
                </div>
                <div class="tab-pane fade" id="visual" role="tabpanel" aria-labelledby="visual-tab">
                  <!-- TODO: Fill with visuzlization of results -->
                  <!-- <svg id="summaryGraph" width="960" height="500"></svg> -->
                </div>
                <div class="tab-pane fade" id="explain" role="tabpanel" aria-labelledby="explain-tab">
                  <!-- TODO: Fill with explanation of results -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-2">
          <br>
          <div class="row">
            <!-- Transition Menu -->
            <div id="toDemo" class="col text-center" >
              <a href="#" id="demoButton" class="btnC btn btn-success">Back to Graph</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
