---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import { page_title, portfolio } from "../../../data/solutions-media-analytics.json";
---

<Layout
  title={`Solution - ${page_title}`}
  description="Converting Emotions into Insights"
  image="https://www.cognicue.in/assets/img/hero/differentfacess.jpg"
>
  <Navigation />
  <main class="max-w-7xl mx-auto mb-10">
    <h1 class="mt-8 text-3xl font-medium tracking-tight text-gray-900 text-center">
      Consumer Experience Platform (Media Analytics)
    </h1>
    <p class="mt-6 text-lg text-gray-600 text-center max-w-5xl mx-auto">
      With our platform, brands can make better choices based on customer instincts. The technology captures the behavioral filters that come <span class="tooltiptext">continue</span> with making a suggested pick by removing all emotional response from data collection - this means they are free of any preconceptions about what customers might want.
    </p>
    <p class="mt-4 text-lg text-gray-600 text-center max-w-5xl mx-auto">Measuring the emotions and engagement of the consumer is not new in the Media world. Earlier there were Psychologists to identify that through various questionnaire and psychometric tests, but now, we have the access to technology we can get the access to fMRI (functional magnetic resonance imaging), EEG (electro-encephalogram), Eye tracking(gaze, pupillometry), Biometrics and Facial coding. Our <a class="generic-link" href="/demo/facs/">FACS (Facial Action Coding System)</a> measures and registers the voluntary and involuntary movements of facial muscles. The user when viewing the media would be flashing a set of expressions which are identified by our system. And at the end of the media, it will capture the facial movements and release a report containing the relevant and requested details.</p>

    <div class="flex flex-wrap mt-6">
      {portfolio.map((port) => (
        <div class="w-full md:w-1/2 p-2">
          <img src={port.poster} alt="" class="w-full h-full object-cover" />
        </div>
      ))}
    </div>
  </main>
  <Footer />
</Layout>