{% extends "layout/_base.html" %}
{% block main %}


<div class="project-gallery-area section-padding2">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list1.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list1.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list2.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list2.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list3.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list3.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list4.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list4.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list5.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list5.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list2.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list2.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>
</div>
<!--
<div class="row justify-content-center">
<div class="room-btn pt-50">
<a href="#" class="btn">Load more</a>
</div>
</div>
-->
</div>
</div>


{% include "layout/_contact_us.html" %}
{% endblock %}