{% extends "layout/_base.html" %}
{% block main %}
<section class="sample-text-area">
	<div class="container box_1170">
		<h2 class="text-heading">{{section.heading}}</h2>
		<p class="sample-text">{{section.text}}</p>
	</div>
</section>

<div class="project-gallery-area section-padding2">
<div class="container">
<div class="row">

<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list1.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list1.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list2.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list2.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list3.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list3.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list4.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list4.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list5.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list5.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
<div class="portfolio-wrapper mb-30">
<div class="portfolio-thumb small-img" style="background-image: url(/assets/img/gallery/project_list2.png);">
</div>

<div class="portfolio-content">
<a href="/assets/img/gallery/project_list2.png" class="img-pop-up">View Project</a>
</div>
</div>
</div>

</div>
</div>
</div>


{% include "layout/_contact_us.html" %}
{% endblock %}