<!doctype html>
<html class="no-js" lang="zxx">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>{% if page_title %}{{page_title}} | {% endif %}{{site_title}} </title>
<meta name="description" content="{{site_description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{{site_favicon}}">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/css/slicknav.css">
<link rel="stylesheet" href="/assets/css/flaticon.css">
<link rel="stylesheet" href="/assets/css/animate.min.css">
<link rel="stylesheet" href="/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/assets/css/themify-icons.css">
<link rel="stylesheet" href="/assets/css/slick.css">
<link rel="stylesheet" href="/assets/css/nice-select.css">
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PBR462L');</script>
<!-- End Google Tag Manager -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PBR462L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
<div class="preloader-inner position-relative">
<div class="preloader-circle"></div>
<div class="preloader-img pere-text">
<img src="{{site_favicon}}" alt="{{site_title}}">
</div>
</div>
</div>
</div>

<header>
{% include "layout/_header.html" %}
</header>

<main>
<div class="hero-area hero-height2 d-flex align-items-center" data-background="/assets/img/hero/h2_hero.jpg">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<div class="hero-cap text-center pt-50">
				</div>
			</div>
		</div>
	</div>
</div>
{% block main %}{% endblock %}
</main>

<footer>
{% include "layout/_footer.html" %}
</footer>

<div id="back-top">
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<script src="/assets/js/vendor/modernizr-3.5.0.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="/assets/js/vendor/jquery-1.12.4.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/popper.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="/assets/js/jquery.slicknav.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="/assets/js/owl.carousel.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/slick.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="/assets/js/wow.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/animated.headline.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/jquery.magnific-popup.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="/assets/js/jquery.nice-select.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/jquery.sticky.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="/assets/js/contact.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/jquery.form.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/jquery.validate.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/mail-script.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="/assets/js/plugins.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>
<script src="/assets/js/main.js" type="7b2c919c1d08e0f3a0eff551-text/javascript"></script>

<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="7b2c919c1d08e0f3a0eff551-|49" defer=""></script>

</body>
</html>