<div class="footer-area">
<div class="container">

	<!-- Section -->
	<div class="footer-top footer-padding">
	<div class="row justify-content-between">

		<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
		<div class="single-footer-caption mb-50">
		<div class="single-footer-caption mb-30">

			<div class="footer-logo logo-adj-nav">
			<a href="/">
				<img src="{{site_logo}}" alt="{{site_title}}">
			</a>
			</div>
		</div>
		</div>
		</div>


		<!-- Section -->
		<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
		<div class="single-footer-caption mb-50">
		<div class="footer-tittle">
		<h4>Products</h4>
		<ul>
			{% for each in site_pages.products.sub %}
				<li><a href="{{each.link}}">{{each.text}}</a></li>
			{% endfor %}
		</ul>
		</div>
		</div>
		</div>
		<!-- Section -->


		<!-- Section -->
		<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
		<div class="single-footer-caption mb-50">
		<div class="footer-tittle">
		<h4>Customer Care</h4>
		<ul>
		<li><a href="{{site_pages.contact.link}}">{{site_pages.contact.text}}</a></li>
		<li><a href="{{site_pages.about.link}}">{{site_pages.about.text}}</a></li>
		<li><a href="{{site_pages.privacy.link}}">{{site_pages.privacy.text}}</a></li>
		<li><a href="{{site_pages.terms.link}}">{{site_pages.terms.text}}</a></li>
		</ul>
		</div>
		</div>
		</div>
		<!-- Section -->


		<!-- Section -->
		<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
		<div class="single-footer-caption mb-50">
		<div class="footer-tittle">
		<h4><span>+91</span> {{site_contact.mobile}}</h4>
		<ul>
		<li><a href="#"><span class="__cf_email__" >{{site_contact.email}}</span></a></li>
		</ul>
		<p>{{site_contact.address}}</p>
		</div>

		<div class="footer-social">
		<a href="{{site_social.github}}" target="_blank"><i class="fab fa-github"></i></a>
		<a href="{{site_social.slack}}" target="_blank"><i class="fab fa-slack"></i></a>
		<a href="{{site_social.facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
		<a href="{{site_social.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
		<a href="{{site_social.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
		<a href="{{site_social.website}}" target="_blank"><i class="fas fa-globe"></i></a>
		</div>
		</div>
		</div>
		<!-- Section -->

	</div>
	</div>
	<!-- Section -->




	<!-- Section -->
	<div class="footer-bottom">
		<div class="row">
		<div class="col-xl-12 ">
		<div class="footer-copy-right">
		<p>
		Copyright &copy;<script data-cfasync="false" src="https://colorlib.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="7b2c919c1d08e0f3a0eff551-text/javascript">document.write(new Date().getFullYear());</script> All Rights Reserved | {{site_copyright}}
		</p>
		</div>
		</div>
		</div>
	</div>
	<!-- Section -->

</div>
</div>