<meta name="description" content="{{site_description}}">

<!-- Social: Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site_title }}">
<meta name="twitter:description" content="{{ site_description }}">
<meta property="twitter:image:src" content="{{ site_social_image }}">

<!-- Social: Facebook / Open Graph -->
<meta property="og:url" content="{{ site_url }}">
<meta property="og:title" content="{{ site_title }}">
<meta property="og:image" content="{{ site_social_image }}">
<meta property="og:description" content="{{ site_description }}">
<meta property="og:site_name" content="{{ site_title }}">