<div class="col-lg-4">
<div class="blog_right_sidebar">

<aside class="single_sidebar_widget search_widget">
	<button onclick="window.open('{{site_pages.insights.link}}', '_self')" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">{{site_pages.insights.text}}</button>
</aside>

<aside>
	<a class="twitter-timeline" href="https://twitter.com/kanantandi?ref_src=twsrc%5Etfw">Tweets by kanantandi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside>


</div>
</div>