<div class="w-padding2">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-10 col-lg-10 col-md-9">
        <div class="wantToWork-caption wantToWork-caption2">
          <h2>Recognition</h2>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-10 col-lg-10 col-md-9">
        <div class="mt-3" id="recognitionSlide">
            {% for slide in recognition_slides %}
                <div>
                    <img data-lazy="{{ slide.image }}" alt="{{ slide.title }}" loading="lazy" decoding="async" />
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
