<div class="w-padding2">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="wantToWork-caption wantToWork-caption2 text-center">
          <h2>Recognitions</h2>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="mt-3" id="recognitionSlide">
            {% for slide in recognition_slider|reverse %}
                <div>
                    <a {% if slide.link %}href='{{slide.link}}' target='_blank' rel="noreferrer"{% else %}href='javascript:void(0);' style='cursor:default'{% endif %}>
                    <img data-lazy="{{ slide.image }}" alt="{{ slide.title }}" loading="lazy" decoding="async" />
                    </a>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
